{% load static %}
     
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>
	<!-- All CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link href='{% static "cssForIndex.css" %}' rel="stylesheet">
</head>
<body>
	<nav style="background: #3D384D" class="navbar navbar-expand-lg navbar-dark bg-ligth fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#"><img style="height: 45px"  src="{% static 'MEDIA/logo01.png' %}" alt=""></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-4 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link" href="{% url 'OrdersAdministrator' %}">Pedidos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'ProductsAdministrator' %}">Productos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'CategoriesAdministrator' %}">Categorias</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'SizesAdministrator' %}">Tallas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'SizesAdministrator' %}">Administradores</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'SizesAdministrator' %}">Reporte</a>
					</li>
					<li class="nav-item">
						<a style="color: #F2727D; font-weight: bold;" class="nav-link" href="{% url 'paginaIndex' %}">Cerrar Sesión</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
    <br><br><br><br>


	<div class="container">
		<h4>Administradores:</h4>

		<div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="rounded">
                    <div class="table-responsive table-borderless">
                        <table class="table">
                            <thead>
                                <tr style="color: #679FBF; ">
									<th>Nombres</th>
                                    <th>Apellidos</th>
									<th>CI</th>
									<th>Rol</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
								{% for o in AdministratorsList %}
								<tr>
									<td>{{o.id_persona.nombre}}</td>
                                    <td>{{o.id_persona.apellidoPaterno}} {{o.id_persona.apellidoMaterno}}</td>
									<td>{{o.id_persona.ciNumero}} {{o.id_persona.ciExtension}} {{o.id_persona.ciComplemento}}</td>


									<td>{{o.TotalPagar}}Bs.-</td>
									<td style="text-align: center; padding-right: 2%"><a class="btn" href="/DetallePedidio/{{o.id_pedido}}"><img style="height: 25px" src="{% static 'MEDIA/icono07.png' %}" alt=""></a></td>

								</tr>
		                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
	</div>


	<!-- All Js -->

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

