{% load static %}
{% include "DefaultNavbar.html" %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>
	<!-- All CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link href='{% static "cssForIndex.css" %}' rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

	<main>
		<section class="about section-padding" id="about">
			<div class="container">
				<h2 style="font-weight: bold;">Contactanos - Aceptamos reclamos y consultas</h2>
			</div><!-- about section starts -->
			<hr>
			<div class="container d-flex align-items-center">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5 d-flex align-items-center">
						<div class="about-img"><img style="border-radius: 15px;" alt="" class="img-fluid" src="{% static 'MEDIA/whatsapp-contacts.png'%}"></div>
					</div>
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<div class="about-text">
							<h2 align="center" style="color: #097B5A;font-weight: bold;">Escribenos a los números oficiales: <br></h2>
							<h3 align="center">66583924</h3>
							<h3 align="center">77583984</h3>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<div class="about-text">
							<h1 align="center" style="color: #097B5A; font-weight: bold;">Whatsapp</h1>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<div class="about-text">
							<h1 align="center" style="color: #B406B3; font-weight: bold;">Instagram</h1>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<div class="about-text">
							<h2 align="center" style="color: #B406B3; font-weight: bold;">Siguenos para contactarte con la cuenta oficial:<br></h2>
							<h3 align="center">@wear_rainbow_oficial</h3>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<div class="about-img"><img style="border-radius: 15px;" alt="" class="img-fluid" src="{% static 'MEDIA/instagram-contacts.png' %}"></div>
					</div>
				</div>
			</div>
			<hr>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<div class="about-img"><img style="border-radius: 15px;" alt="" class="img-fluid" src="{% static 'MEDIA/facebook-contacts.png' %}"></div>
					</div>
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<div class="about-text">
							<h2 align="center" style="color: #2A32C1; font-weight: bold;">Buscanos en facebook para estar al día con nuestros productos: <br></h2>
							<h3 align="center">Wear Rainbow Bolivia</h3>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<div class="about-text">
							<h1 align="center" style="color: #2A32C1; font-weight: bold;">Facebook</h1>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="container">
				<h3 align="center">Visitanos en nuestras tiendas físicas:</h3>
				<br>
			</div><!-- about section starts -->
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<p>Calle Mexico Ed. Maria Reyna #1790. Local. 2</p>
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4434.5991727439305!2d-68.13208992347646!3d-16.50281831662011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbo!4v1668374371958!5m2!1sen!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<p>Universidad Catolica Boliviana. Calle 2 de Obrajes</p>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7782.877905595815!2d-68.1106350302871!3d-16.521260032900482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f20ee187a3103%3A0x2f2bb2b7df32a24d!2sUniversidad%20Cat%C3%B3lica%20Boliviana!5e0!3m2!1sen!2sbo!4v1668375497861!5m2!1sen!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="col-lg-4 col-md-12 col-12 ps-lg-5 mt-md-5">
						<p>Iglesia de San Miguel. Avenida Ballivián</p>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13193.805637266421!2d-68.08704540659902!3d-16.538361245519262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f21398b175787%3A0x5ace14ce36c48298!2sIglesia%20San%20Miguel%20Arc%C3%A1ngel!5e0!3m2!1sen!2sbo!4v1668375836399!5m2!1sen!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>

			</div>
		</section><!-- about section Ends -->
	</main>
    <!-- FOOTERt -->
    <footer class="text-center text-white" style="background-color: #3D384D;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">

                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.whatsapp.com"
                    target="_blank" role="button">
                    <img style="height: 35px;" src="{% static 'MEDIA/icono01.png' %}" alt="">
                </a>


                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com" role="button"
                    target="_blank">
                    <img style="height: 35px;" src="{% static 'MEDIA/icono02.png' %}" alt="">
                </a>


                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com" role="button"
                    target="_blank">
                    <img style="height: 35px;" src="{% static 'MEDIA/icono03.png' %}" alt="">
                </a>
                <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-light" href="./index.html">WEAR RAINBOW</a>
        </div>
        <!-- Copyright -->
    </footer>

	<!-- All Js -->

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>