{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>
	<!-- All CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link href='{% static "cssForIndex.css" %}' rel="stylesheet">
</head>
<body>
	<nav style="background: #3D384D" class="navbar navbar-expand-lg navbar-dark bg-ligth fixed-top">
		<div class="container">
				<a class="navbar-brand" href="#"><img style="height: 45px"  src="{% static 'MEDIA/logo01.png' %}" alt=""></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-4 mb-lg-0">

					{% if Sesion %}
						{% if Sesion == "Cliente" %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'productsAsClient' %}">Productos</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{% url 'contacts' %}">Contactos</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{% url 'contacts' %}">Contactos</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{% url 'OrdersAsClient' %}">Mis Pedidos</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{% url 'Carrito' %}"><img style="height: 25px" src="{% static 'MEDIA/icono08.png' %}" alt="">Carrito</a>
							</li>

							<li class="nav-item">
								<a style="color: #F2727D; font-weight: bold;" class="nav-link" href="{% url 'SignInAsClient' %}">Cerrar Sesión</a>
							</li>
						{% elif Sesion == "Administrador" %}

						{% elif Sesion == "Superadministrador" %}

						{% endif %}
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'productsAsClient' %}">Productos</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{% url 'contacts' %}">Contactos</a>
						</li>

						<li class="nav-item">
							<a style="color: #F2727D; font-weight: bold;" class="nav-link" href="{% url 'SignInAsClient' %}">Iniciar Sesión</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>

</body>

	<!-- All Js -->

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

