{% load static %}
{% include "DefaultNavbar.html" %}
<html>
  <head>
    <meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>

      <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link href='{% static "cssForIndex.css" %}' rel="stylesheet">


  </head>
  <body>

    <br><br>

    <div style="position: sticky; top: 71px; background-color: white">
        <div class="container">
            <div class="text-center text-lg-start mt-4 pt-2">
			<a href="{% url 'OrdersAdministrator' %}">
            <button class="btn  btn-md" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #F2727D; color: white; ">
				Volver</button></a>
            </div>
        </div>
        <hr>
    </div>

    <div class="container pb-3 ">
        <div class="row">
             <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-4 pull-left">
                                        <h4 class="invoice-color mb-2 mt-md-2">Datos del cliente:</h4>
                                        <ul class="list list-unstyled mb-0">
                                            <li style="font-weight: bold">Nombre:  <span style="font-weight: lighter">{{pedido.id_cliente.id_persona.nombre}}</span></li>
                                            <li style="font-weight: bold">Apellido Paterno:  <span style="font-weight: lighter">{{pedido.id_cliente.id_persona.apellidoPaterno}}</span></li>
                                            <li style="font-weight: bold">Apellido Materno:  <span style="font-weight: lighter">{{pedido.id_cliente.id_persona.apellidoMaterno}}</span></li>
                                            <li style="font-weight: bold">Celular:  <span style="font-weight: lighter">{{pedido.id_cliente.id_persona.celular}}</span></li>
                                            <li style="font-weight: bold">Correo:  <span style="font-weight: lighter">{{pedido.id_cliente.id_persona.correo}}</span></li>
                                            <li style="font-weight: bold">Carnet de Identidad:  <span style="font-weight: lighter">{{pedido.id_cliente.id_persona.ciNumero}} {{pedido.id_cliente.id_persona.ciExtension}} </span></li>

                                        </ul>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-4 ">
                                    <div class="text-sm-right">
                                        <h4 class="invoice-color mb-2 mt-md-2">Pedido #{{pedido.id_pedido}}</h4>
                                        <ul class="list list-unstyled mb-0">
                                            <li style="font-weight: bold">Estado Pedido:  <span style="font-weight: lighter">{{pedido.EstadoPedido}}</span></li>
                                            <br>
                                            <li style="font-weight: bold">Fecha Pedido:  <span style="font-weight: lighter">{{pedido.FechaPedido}}</span></li>

                                            {% if pedido.EstadoPedido == "Aceptado sin enviar"%}
                                            <li style="font-weight: bold">Fecha Pedido aceptado:  <span style="font-weight: lighter">{{aceptado.FechaAceptacion}}</span></li>
                                            {% endif %}

                                            {% if pedido.EstadoPedido == "Aceptado y enviado"%}
                                            <li style="font-weight: bold">Fecha Pedido aceptado:  <span style="font-weight: lighter">{{aceptado.FechaAceptacion}}</span></li>
                                            <li style="font-weight: bold">Fecha Pedido enviado:  <span style="font-weight: lighter">{{aceptado.FechaEnvio}}</span></li>
                                            {% endif %}

                                            {% if pedido.EstadoPedido == "Rechazado"%}
                                            <li style="font-weight: bold">Fecha Pedido Rechazado:  <span style="font-weight: lighter">{{rechazo.FechaRechazo}}</span></li>
                                            <br>
                                            <li style="font-weight: bold">Razón de rechazo:  <span style="font-weight: lighter">{{rechazo.RazonRechazo}}</span></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                <div class="mb-4 pull-left">
                                        <h4 class="invoice-color mb-2 mt-md-2">Datos de envío:</h4>
                                        <ul class="list list-unstyled mb-0">
                                            <li style="font-weight: bold">Departamento:  <span style="font-weight: lighter">{{pedido.id_departamento.Departamento}}</span></li>
                                            <li style="font-weight: bold">Direccion:  <span style="font-weight: lighter">{{pedido.Direccion}}</span></li>
                                            <li style="font-weight: bold">Zona:  <span style="font-weight: lighter">{{pedido.Zona}}</span></li>
                                            <li style="font-weight: bold">Apartamento:  <span style="font-weight: lighter">{{pedido.Apartamento}}</span></li>

                                        </ul>
                                </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-4 ">
                                    <div class="text-sm-right">
                                        <h4 class="invoice-color mb-2 mt-md-2">Estado del pago:</h4>

                                        <ul class="list list-unstyled mb-0">
                                            {% if pagoDetails %}
                                                <li style="font-weight: lighter; color: lightseagreen">PAGO ENVIADO</li>
                                                <a style="color: #F2727D" target="_blank" href="{{pagoDetails.Comprobante.url}}">Ver Comprobante</a>
                                            {% else %}
                                                <li style="font-weight: lighter; color: orangered">PAGO PENDIENTE</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <h4 class="invoice-color mb-2 mt-md-2">Productos comprados:</h4>

                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>Img</th>
                                    <th>Id Producto</th>
                                    <th>Nombre Producto</th>
                                    <th>Talla</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for p in productos %}
                                <tr>
                                    <td><img style="height: 70px; border-radius: 5px" src="{{p.id_tallaDisponible.id_producto.img.url}}" alt=""></td>
                                    <td>{{p.id_tallaDisponible.id_producto.id_producto}}</td>
                                    <td>{{p.id_tallaDisponible.id_producto.nombre}}</td>
                                    <td>{{p.id_tallaDisponible.id_talla.talla}}</td>
                                    <td>{{p.id_tallaDisponible.id_producto.precio}}Bs.-</td>
                                    <td>{{p.cantidad}}</td>
                                    <td>{{p.get_subtotal}}Bs.-</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-body">
                        <div class="d-md-flex flex-md-wrap">

                            <div class="pt-2 mb-3 wmin-md-400 ml-auto">
                                <h4 class="mb-3 text-left">Total a pagar:</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="text-left">Subtotal:</th>
                                                <td class="text-right">{{pedido.TotalPagar}}Bs.-</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">Envío: </th>
                                                <td class="text-right">{{pedido.get_envio}}Bs.-</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">Total:</th>
                                                <td class="text-right text-primary"><h5 class="font-weight-semibold">{{pedido.TotalPagar}}Bs.-</h5></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                                <div class="col-lg-4 col-md-2 col-sm-2 p-lg-5">

                                    {% if pedido.EstadoPedido == "Aceptado sin enviar"%}
							<button style="background-color: #ffbd00; border: 0px" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal3" data-bs-whatever="@mdo">Confirmar Envio</button>
									<div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div style="background-color: #ffbd00; color: white" class="modal-header">
											<h5 class="modal-title" >Confirmar Envio</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										  </div>
										<form action="/registroPedidoEnviado/{{pedido.id_pedido}}" method="post">
                                            {% csrf_token %}
										  <div class="modal-body">
											  <div class="mb-3">
												  <input type="checkbox" name="conf"  required>
												  <label>El pedido ha sido preparado y enviado a los datos proporcionados por el cliente.</label><br>
											  </div>

										  </div>
										  <div class="modal-footer">
											<button style="background-color: #dfe6e6; border: 0px; color: #3D384D" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
											<button style="background-color: #3D384D; border: 0px" type="submit" class="btn btn-primary">Aceptar</button>
										  </div>
											</form>
										</div>
									  </div>
									</div>
                                    {% else %}

                                        {% if pagoDetails and pedido.EstadoPedido != "Aceptado y enviado"%}

									<button style="background-color: #4dd091; border: 0px" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal1" data-bs-whatever="@mdo">Aceptar Pedido</button>
									<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div style="background-color: #4dd091; color: white" class="modal-header">
											<h5  class="modal-title">Aceptar Pedido</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										  </div>
											<form action="/registroPedidoAceptado/{{pedido.id_pedido}}" method="post">
                                                {% csrf_token %}
										  <div class="modal-body">
											  <div class="mb-3">
												  <input type="checkbox" name="conf"  required>
												  <label>He revisado y verificado el pago completo y correcto del cliente. Confirmando así el pedido para su posterior preparación y envió. </label><br>

											  </div>

										  </div>
										  <div class="modal-footer">
											<button style="background-color: #dfe6e6; border: 0px; color: #3D384D" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
											<button style="background-color: #3D384D; border: 0px" type="submit" class="btn btn-primary">Aceptar</button>
										  </div>
											</form>
										</div>
									  </div>
									</div>
                                    {% endif %}
									<br><br>

                                    {% if pedido.EstadoPedido != "Rechazado" and pedido.EstadoPedido != "Aceptado y enviado"%}

									<button style="background-color: #ff828b; border: 0px" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal2" data-bs-whatever="@mdo">Rechazar Pedido</button>
									<div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div style="background-color: #ff828b; color: white" class="modal-header">
											<h5 class="modal-title" >Rechazar Pedido</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										  </div>
										<form action="/registroPedidoRechazado/{{pedido.id_pedido}}" method="post">
                                            {% csrf_token %}
										  <div class="modal-body">
											  <div class="mb-3">
												<label class="col-form-label">Razón de rechazo:</label>
												<textarea class="form-control" name="textRechazo" required></textarea>
											  </div>

										  </div>
										  <div class="modal-footer">
											<button style="background-color: #dfe6e6; border: 0px; color: #3D384D" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
											<button style="background-color: #3D384D; border: 0px" type="submit" class="btn btn-primary">Aceptar</button>
										  </div>
											</form>
										</div>
									  </div>
									</div>
                                    {% endif %}

                                    {% endif %}


                                </div>

                        </div>
                    </div>
                </div>
             </div>
        </div>

    </div>





  </body>
</html>

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>



