{% load static %}

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>
	<!-- All CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link href='{% static "cssForIndex.css" %}' rel="stylesheet">
</head>
<body>
	<nav style="background: #3D384D" class="navbar navbar-expand-lg navbar-dark bg-ligth fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#"><img style="height: 45px"  src="{% static 'MEDIA/logo01.png' %}" alt=""></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-4 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link" href="#">Productos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contacts' %}">Contactos</a>
					</li>
					{% if Sesion %}
					<li class="nav-item">
						<a style="color: #F2727D; font-weight: bold;" class="nav-link" href="{% url 'Logout' %}">Cerrar Sesión</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a style="color: #F2727D; font-weight: bold;" class="nav-link" href="{% url 'SignInAsClient' %}">Iniciar Sesión</a>
					</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>
	<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
		<div class="carousel-indicators">
			<button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img alt="..." class="d-block w-100" src="{% static 'MEDIA/carrusel01.png' %}">
				<div class="carousel-caption">
                    <h5 style="color: #E52B69 ; font-weight: bold;">Variedad de ropa</h5>

				</div>
			</div>
			<div class="carousel-item">
				<img alt="..." class="d-block w-100" src="{% static 'MEDIA/carrusel02.png' %}">
				<div class="carousel-caption">
                    <h5 style="color: #679FBF; font-weight: bold;">Para todo género</h5>

				</div>
			</div>
			<div class="carousel-item">
				<img alt="..." class="d-block w-100" src="{% static 'MEDIA/carrusel03.png' %}">
				<div class="carousel-caption">
                    <h5 style="color: #F28F6B; font-weight: bold;">Entrega Garantizada</h5>

				</div>
			</div>
		</div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
	</div><!-- about section starts -->
	<section class="about section-padding" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-12">
					<div class="about-img"><img style="border-radius: 15px;" alt="" class="img-fluid" src="{% static 'MEDIA/img01.png' %}"></div>
				</div>
				<div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-text">
						<h2><b>Nuestra Historia</b><br></h2>
						<p style="color: #F2727D">WEAR RAINBOW nació en 2006 a partir de la idea de dos jóvenes emprendedores y con una grán pasión en el diseño de ropa moderna inspirada en la cultura boliviana. La tienda de ropa cumple un objetivo en mente, poder brindar a las familias bolivianas productos de calidad a
                            excelentes precios.
                            <br><br>
                            Y es así como nos conviertimos en pioneros nacionales siendo la primera tienda de ropa moderna inspirada en la cultura boliviana. Creen que para mejorar el país se debe impulsar el talento boliviano. Es por eso que como empresa han formado diferentes proyectos de impulso al empleo joven y dando oportunidades a diseñadores bolivianos.</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- about section Ends -->
<hr>
    <div class="container">
			<h3 align="left"><b>Misión</b></h3>
			<div class="row">
				<div class="col-lg-3 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-img"><img style="border-radius: 15px;" alt="" class="img-fluid" src="{% static 'MEDIA/Mision.png' %}"></div>
				</div>
				<div class="col-lg-9 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-text">
						<ul style="list-style-type: disc; color: #F2727D">
							<li>Innovar, liderar, mejorar, proporcionar productos y servicios de mejor valor a clientes globales.</li>
							<li>Para marcar la diferencia a través de nuestra marca y estar a la vanguardia de las tendencias de la moda, los cambios del mercado y la última tecnología.</li>
							<li>Mejorar la calidad de vida de nuestros socios comerciales, clientes y empleados.</li>
							<li>Garantizar que nuestros clientes tengan la experiencia de compra más agradable mientras estén en nuestra tienda para crear relaciones duraderas. Además de proporcionar a los clientes ropa moderna y de alta calidad con la esperanza de tener la ventaja competitiva.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
			<h3 align="center"><b>Visión</b></h3>
			<div class="row">
				<div class="col-lg-3 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-img"><img style="border-radius: 15px;" alt="" class="img-fluid" src="{% static 'MEDIA/Vision.png' %}"></div>
				</div>
				<div class="col-lg-9 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-text">
						<ul style="list-style-type: disc; color: #F2727D">
							<li>Nos esforzamos día a día por ser un líder mundial en prendas de vestir de moda potenciando la innovación y el diseño para lograr la satisfacción plena del cliente.</li>
							<li>Nuestra misión es crear un ambiente de trabajo cálido al proporcionar prendas de ropa únicas y que estén a la vanguardia de la moda.</li>
							<li>Nuestra misión es crear una empresa de prendas de vestir que pueda ofrecer un diseño, calidad y valor superiores a todos nuestro clientes, esto se logrará comprometiéndonos a ofrecer un gran servicio y valor real a nuestros consumidores.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	    <br>
		<hr>
		<div class="container">
			<h3 align="right"><b>Valores</b></h3>
			<div class="row">
				<div class="col-lg-3 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-img"><img style="border-radius: 15px;" alt="" class="img-fluid" src="{% static 'MEDIA/Valores.png' %}"></div>
				</div>
				<div class="col-lg-9 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-text">
						<ul style="list-style-type: disc; color: #F2727D">
							<li>Humildad: Actuamos humildemente cuando nos ponemos en los zapatos del otro y siempre estamos abiertos a diferentes puntos de vista. Reconocemos y aprendemos de nuestros errores para ser aún mejores.</li>
							<li>Sentido de pertenencia: Cuidamos el negocio como si fuera nuestro desde los pequeños detalles y también en general. Actuamos como guardianes de los objetivos e intereses de la compañía en nuestra vida diaria. Estamos obsesionados con los resultados.</li>
							<li>Eficiencia: Buscamos eficiencia a través del estándar y la calidad. Cada actitud debe basarse en una comprensión profunda de la capacidad, la necesidad y el reflejo de esta acción en el negocio. Nuestras acciones deben seguir nuestros principios básicos de bajo costo operativo, para entregar nuestra propuesta de valor al cliente: la mejor relación precio / calidad de los productos en las tiendas.</li>
						</ul>
					</div>
				</div>
			</div>
			<br><br><br><br><br>
		</div>
    </center>
</body>



    <!-- FOOTERt -->
    <footer class="text-center text-white" style="background-color: #3D384D;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">

                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.whatsapp.com"
                    target="_blank" role="button">
                    <img style="height: 35px;" src="{% static 'MEDIA/icono01.png' %}" alt="">
                </a>


                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com" role="button"
                    target="_blank">
                    <img style="height: 35px;" src="{% static 'MEDIA/icono02.png' %}" alt="">
                </a>


                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com" role="button"
                    target="_blank">
                    <img style="height: 35px;" src="{% static 'MEDIA/icono03.png' %}" alt="">
                </a><!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-light" href="./index.html">WEAR RAINBOW</a>
        </div>
        <!-- Copyright -->
    </footer>

	<!-- All Js -->

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

