{% load static %}
{% include "DefaultNavbar.html" %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>
	<!-- All CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link href='{% static "cssForIndex.css" %}' rel="stylesheet">
</head>
<body>

    <br><br><br><br><br>
	<div class="col-md-8 col-lg-6 col-xl-4 offset-md-1">
        <div class="text-center text-lg-start mt-4 pt-2">
			<a href="{% url 'Carrito' %}">
            <button class="btn  btn-md" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #F2727D; color: white; ">
				Volver</button></a>
        </div>
    </div>

   <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <h3 class="fw-normal mb-0 text-black">Resumen de compra</h3>
                <div class="rounded">
                    <div class="table-responsive table-borderless">
                        <table class="table">
                            <thead>
                                <tr style="color: #679FBF; ">
									<th>Nombre Producto</th>
                                    <th>Talla</th>
									<th>Color</th>
									<th>Material</th>
									<th>Categoria</th>
                                    <th>Precio Unitario</th>
									<th>Cantidad</th>
									<th>Subtotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
								{% for t in productos %}
			                    {% for a in t %}
								<tr>
									<td>{{a.0.nombre}}</td>
                                    <td>{{a.2}}</td>
									<td>{{a.0.color}}</td>
                                    <td>{{a.0.material}}</td>
									<td>{{a.0.get_id_cat}}</td>
									<td>{{a.0.get_price}}Bs.-</td>

									<td>{{a.1}} unidades</td>
                                    <td style="text-align: right;">{{ a.3 }} Bs.-</td>

								</tr>
								{% endfor %}
		                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if messages %}
                {% for msg in messages %}
                    <h4 style="text-align: right; padding-right: 30px" class="fw-normal mb-0 text-black">Subtotal de productos: {{msg}}Bs.-</h4>
                {% endfor %}
                {% endif %}

            </div>

        </div>

    </div>
		<br>

	<div class="container ">
        <div class="card-body px-sm-4 px-0">

            <div class="row justify-content-center round">
                <div class="col-lg-12 col-md-12 ">
                    <div class="card shadow-lg card-1">
                        <div class="card-body inner-card">
							<div class="row justify-content-center mb-5">
                	<div class="col-md-10 col"><h3 class="font-weight-bold ml-md-0 mx-auto text-center text-sm-left"> Información de pedido </h3><p class="mt-md-4  ml-md-0 ml-2 text-center text-sm-left"> Para completar el pedido, por favor complete el siguiente formulario</p></div>
            			</div>
                            <form action="/registroPedido/" class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="row justify-content-center">
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        <div class="form-group"><label>Direccion</label><input type="text" class="form-control" name="direccion" required> </div>
                                        <div class="form-group"> <label >Zona</label> <input type="text" class="form-control" name="zona" required>  </div>
                                        <div class="form-group"> <label>Departamento</label>
                                            <select class="form-control" name="dep">
                                                {% for c in departamentos %}
                                                    <option value="{{c.id_departamento}}" > {{c.Departamento}} (Costo extra de envio: {{c.precio}}Bs.-)</option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="form-group"> <label >Apartamento</label>  <input type="text" class="form-control" name="apartamento" required> </div>
                                    </div>
                                </div>



                                <br>

                                <div class="row justify-content-center mb-3">
                                    <div style="margin-left: 80%;" class="text-center text-lg-start mt-4 pt-2">
                                        <button  type="submit" class="btn  btn-md" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #3D384D; color: white; ">
                                            Confirmar pedido</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <br><br><br>

	<!-- All Js -->

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>

