{% load static %}

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>
	<!-- All CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
		<link href='{% static "cssForIndex.css" %}' rel="stylesheet">
</head>
<body>
	<nav style="background: #3D384D" class="navbar navbar-expand-lg navbar-dark bg-ligth fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#"><img style="height: 45px"  src="{% static 'MEDIA/logo01.png' %}" alt=""></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-4 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link" href="{% url 'OrdersAdministrator' %}">Pedidos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'ProductsAdministrator' %}">Productos</a>
					</li>
					<li class="nav-item">
						<a style="color: #F2727D; font-weight: bold;" class="nav-link" href="{% url 'paginaIndex' %}">Cerrar Sesión</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <br><br><br><br><br>

    <div class="col-md-8 col-lg-6 col-xl-4 offset-md-1">
        <div class="text-center text-lg-start mt-4 pt-2">
			<a href="{% url 'AddNewProduct' %}">
            <button class="btn  btn-md" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #3D384D; color: white; ">
				Agregar Nuevo Producto</button></a>
        </div>
    </div>

	<!-- Visualizacion de produdctos -->
	<div class="container" style="padding-top: 3%">
		<h2 style="color: #3D384D;">Listado de productos</h2>
	</div>

	<div class="container mt-5">
        <div class="d-flex justify-content-cente row">
            <div class="col-md-12">
                <div class="rounded">
                    <div class="table-responsive table-borderless">
                        <table class="table">
                            <thead>
                                <tr style="color: #679FBF; ">
                                    <th style="width:9%;">Id Producto</th>
									<th>Img</th>
									<th>Nombre</th>
									<th>Color</th>
									<th style="width: 12%">Precio Unitario</th>
									<th>Material</th>
									<th>Categoria</th>
									<th style="width: 10%">Stock Total</th>
									<th colspan="2">Modificar</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
								{% for p in producto %}
								<tr>
									<td style="text-align: center;">{{p.id_producto}}</td>
									<td>{{p.img}}</td>
									<td>{{p.nombre}}</td>
									<td>{{p.color}}</td>
									<td style="text-align: right; padding-right: 3%">{{p.get_price}}Bs.-</td>
									<td>{{p.material}}</td>
									<td>{{p.get_id_cat}}</td>
									<td style="text-align: right;">{{p.get_total_stock}} unidades</td>
									<td><a class="btn btn-info" href="/ModifyProduct/{{p.id_producto}}">Modificar</a></td>
								</tr>
								{% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- All Js -->

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

