{% load static %}

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>
	<!-- All CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link href='{% static "cssForRegister.css" %}' rel="stylesheet">
</head>
<body>
	<nav style="background: #3D384D" class="navbar navbar-expand-lg navbar-dark bg-ligth fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#"><img style="height: 45px"  src="{% static 'MEDIA/logo01.png' %}" alt=""></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-4 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link" href="#">Productos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contactos</a>
					</li>
					<li class="nav-item">
						<a style="color: #F2727D; font-weight: bold;" class="nav-link" href="{% url 'SignInAsClient' %}">Iniciar Sesión</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 style="font-weight: bold" class="mb-4 pb-2 pb-md-0 mb-md-5">Datos Personales</h3>


            <form class="form-horizontal" method='POST'>
                    {% csrf_token %}

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" name="nombre"  class="form-control form-control-lg" />
                    <label class="form-label">Nombres</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" name="appP" class="form-control form-control-lg" />
                    <label class="form-label">Apellido Paterno</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" name="appM" />
                    <label  class="form-label">Apellido Materno</label>
                  </div>

                </div>

              </div>

                <div class="row">
                <div class="col-md-3 mb-3">

                  <div class="form-outline">
                    <input type="text" name="CiN" class="form-control form-control-lg" />
                    <label class="form-label">CI</label>
                  </div>

                </div>
                <div class="col-md-3 mb-3">

                  <div class="form-outline">
                    <input type="text" placeholder="Opcional" name="CiE" class="form-control form-control-lg" />
                    <label class="form-label" >CI extencion</label>
                  </div>

                </div>
                    <div class="col-md-3 mb-3">

                  <div class="form-outline">
                    <input type="text" placeholder="Opcional"  name="ciC" class="form-control form-control-lg" />
                    <label class="form-label">CI complemento</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="email" name="correo" class="form-control form-control-lg" />
                    <label class="form-label">Correo</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="tel" name="celular" class="form-control form-control-lg" />
                    <label class="form-label">Número de celular</label>
                  </div>

                </div>
              </div>

              <div class="form-group">
                  <div class="col-md-12 text-center">
                      <button type="submit" class="btn  btn-md"
                  style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #3D384D; color: white; ">Continuar</button>
                  </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


	<!-- All Js -->

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

