{% load static %}
{% include "DefaultNavbar.html" %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>
	<!-- All CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link href='{% static "cssForRegister.css" %}' rel="stylesheet">
</head>
<body>
=

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 style="font-weight: bold; color: #F2727D" class="mb-4 pb-2 pb-md-0 mb-md-5">Datos de acceso</h3>


            <form action="/registrarCliente/" class="form-horizontal" method="post">
                    {% csrf_token %}

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" name="user" required/>
                    <label  class="form-label">Usuario</label>
                  </div>

                </div>

              </div>



              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="password" name="pass" class="form-control form-control-lg" required/>
                    <label class="form-label">Contraseña</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="password" name="pass2" class="form-control form-control-lg" required/>
                    <label class="form-label">Confirme contraseña</label>
                  </div>

                </div>
              </div>

              {% if messages %}
                    {% for msg in messages %}
                    <b>{{msg}}</b>
                    {% endfor %}
              {% endif %}

              <div class="form-group">
                  <div class="col-md-12 text-center">
                      <button type="submit" class="btn  btn-md"
                  style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #3D384D; color: white; ">Registrarse</button>
                  </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


	<!-- All Js -->

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

