{% load static %}
{% include "DefaultNavbar.html" %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>WEAR RAINBOW</title>
	<!-- All CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link href='{% static "cssForIndex.css" %}' rel="stylesheet">
</head>
<body>


    <!-- Section: Design Block -->
<section class="vh-100" style="background: linear-gradient(to right, #ffccff 0%, #c4e5ff 80%);filter:">
  <div class="container py-5 h-100" style="opacity: 1">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{% static 'MEDIA/img04.png' %}"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="/inicioSesionCliente/" class="form-horizontal" method="post">
                    {% csrf_token %}

                    <img src="{% static 'MEDIA/logo01.png' %}"
                     alt="login form" class="img-fluid" style="height: 40px" />


                  <h5 class=" mb-3 pb-3" style=" font-weight: bold; color: #679FBF">Ingresar a mi cuenta</h5>

                  <div class="form-outline mb-4">
                    <input type="text" name="user" class="form-control form-control-lg" placeholder="Ingrese su usuario" required/>
                    <label class="form-label" >Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="pass" class="form-control form-control-lg" placeholder="Ingrese su contraseña" required/>
                    <label class="form-label" >Contraseña</label>
                  </div>

                    {% if messages %}
                    {% for msg in messages %}
                    <b>{{msg}}</b>
                    {% endfor %}
                    {% endif %}

                  <div class="pt-1 mb-4">
                    <button type="submit" class="btn  btn-md"
                  style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #3D384D; color: white; ">Ingresar</button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #F79816;">¿No tienes una cuenta? <a href="{% url 'registrarPersona' %}"
                      style="color: #679FBF; font-weight: bolder">Registrate aquí</a></p>

                    <a style="color: #E52B69" href="{% url 'SignInAsAdministrator' %}">Ingresar como administrador</a>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</body>
<!-- Section: Design Block -->

	<!-- All Js -->

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

